{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="bg-white mt-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 ">
            <h1 class="GR display-3 fw-bold p-4 ">TERMS & CONDITIONS</h1>
            <h4 class=" P-4">Welcome to Dejavoo Perfumes! We offer unique, high-quality fragrances at an affordable
                price. By making inspired versions of luxury brands, we are able to provide customers with a luxurious
                experience without the high price tag. Attention to detail and focus on creating unique fragrances sets
                our brand apart from the competition. With our own line of perfumes, we can make a statement without
                saying a word.<br>

                By using our website, you agree to the following terms and conditions:
                <ul class="nav mt-5">
                   <li class="nav-link text-dark"> <span class="fw-bold text-decoration-underline GR">1. Use of Our Website:</span> You may use our website for lawful purposes only. You may not use our website
                    to
                    transmit any material that is offensive, defamatory, or infringes on any intellectual property
                    rights.</li>

                <li class="nav-link text-dark"> <span class="fw-bold text-decoration-underline TEXT">2. Intellectual Property:</span> All content on our website, including text, graphics, logos, and images,
                    is
                    the property of Dejavoo Perfumes and is protected by copyright law. You may not use any content from
                    our
                    website without our express written consent.</li>

                <li class="nav-link text-dark"> <span class="fw-bold text-decoration-underline GR">3. Privacy Policy:</span> We take the privacy of our customers seriously. We only collect data that is
                    necessary to process orders and provide customer service. We will never sell or share your data with
                    third parties.</li>

                <li class="nav-link text-dark"> <span class="fw-bold text-decoration-underline TEXT">4. Shipping Policy:</span> We offer free shipping on all orders over rupees 1500. We ship to most countries
                    worldwide and use a variety of carriers to ensure your order arrives in a timely manner. Orders are
                    typically processed within 1-2 business days and shipping times vary depending on your location.
                    Please
                    note that international orders may be subject to customs fees and duties. These fees are the
                    responsibility of the customer and are not included in the price of your order.</li>

                <li class="nav-link text-dark"> <span class="fw-bold text-decoration-underline GR">5. Limitation of Liability:</span> We are not liable for any damages that may arise from the use of our
                    website
                    or the purchase of our products. We make no warranties, express or implied, regarding the quality or
                    performance of our products.</li>

                <li class="nav-link text-dark"> <span class="fw-bold text-decoration-underline TEXT">6. Dispute Resolution:</span> Any disputes arising from the use of our website or the purchase of our
                    products
                    shall be resolved through binding arbitration.</li>
                </ul>
                <div class="mt-5">By using our website, you agree to be bound by these terms and conditions. If you have any questions or
                concerns, please contact us at <a href="mailto:dejavooperfumes@gmail.com"><span class="text-dark text-decoration-underline">Dejavooperfumes@gmail.com</span></a><br>
                +91<span class="text-dark text-decoration-underline">7300001322</span></div>
            </h4>
        </div>
    </div>
</section>
{%endblock%}