<style>
    <style>.thankyou-wrapper {
        width: 100%;
        height: auto;
        margin: auto;
        background: #ffffff;
        padding: 10px 0px 50px;
    }

    .thankyou-wrapper h1 {
        font: 100px Arial, Helvetica, sans-serif;
        text-align: center;
        color: #333333;
        padding: 0px 10px 10px;
    }

    .thankyou-wrapper p {
        font: 26px Arial, Helvetica, sans-serif;
        text-align: center;
        color: #333333;
        padding: 5px 10px 10px;
    }

    .thankyou-wrapper a {
        font: 26px Arial, Helvetica, sans-serif;
        text-align: center;
        color: #f7c4ab;
        display: block;
        text-decoration: none;
        width: 250px;
        background: #317874;
        margin: 10px auto 0px;
        padding: 15px 20px 15px;
        border-bottom: 5px solid #317874;
    }

    .thankyou-wrapper a:hover {
        font: 26px Arial, Helvetica, sans-serif;
        text-align: center;
        color: #f7c4ab;
        display: block;
        text-decoration: none;
        width: 250px;
        background: #317874;
        margin: 10px auto 0px;
        padding: 15px 20px 15px;
        border-bottom: 5px solid #317874;
    }
</style>
</style>
<section class="login-main-wrapper">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 container-fluid">
        <div class="main-container">
            <div class="login-process">
                <div class="login-main-container">
                    <div class="thankyou-wrapper">
                        <h1><img src="/static/ty.png"
                                alt="thanks" width="100%" /></h1>
                        <p>for contacting us, we will get in touch with you soon... </p>
                        <a href="/home">Back to home</a>
                        <div class="clr"></div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</section>