{% extends 'base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Thank you
{% endblock %}

{% block content %}
	<div class="page-heading header-text">
      <div class="container">
        <div class="row p-5">
          <div class="col-md-12">
            <h1 class="text-center fw-bold p-3">Home/Order</h1>
            <h3 class="text-center p-5 border border-dark"><span class="text-Success">Order Placed</span></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-12 col-md-offset-2">
                <h2 class="page-header">Please click the button to proceed and do not refresh the page.
                </h2>
                <form action="{% url 'orders:payment' %}" method='POST'>
                  {% csrf_token %}
                  <input type="hidden" name="name" value="{{ order.first_name }} {{ order.last_name }}">
        <input type="hidden" name="provider_order_id" value="{{ order.id }}">
        <input type="hidden" name="amount" value="{{ cart.get_total_price }}">
                  
                  <div class="text-center p-4">
                  <button type="submit" id="btnpay" class="btn btn-primary">Redirect to Payment</button>
                  </div>
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}